body{
    width: 1600px;
    height: 1200px;
    background-color: #1E1E1E;
    margin: 20px auto;
}

.fondo{
    width: 1444px;
    height: 1018px;
    background-image: url(img/Card.png);
    background-size: cover;
    border: 0px;
    border-radius: 20px;       
   /* background-image: url(img/Vector.png); */
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 88px;
    height: 39.06px;
    margin-left: 60px;
    margin-top: 54px;
}
header ul{
    display: flex;
    gap: 59px;
    align-items: center;
    margin-right: 60px;
}
header li{
   list-style: none;
    
}
header li>a{
    transition:1s all ease;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;

    font-family: "Josefin Sans", serif;
    font-size: 17px;
}

header li>a:hover{
    font-size: 20px;
}

#contenido{
    display: flex;
}
#contenido > div{
    width:659px;
}
#contenido > div > div{
    display: flex;
}
#contenido > div > div > h1{
    width: 507px;
    height: 254px;

    font-weight: bold;
    font-size: 110px;
    color: #ED8A50;
    font-family: "Oswald", serif;

    margin-top: 57.94px;
    margin-left: 60px;

}
#luces{
    width: 67.03px;
    height: 73.43px;
    margin-top: 77.94px;
    margin-left: -129px;
}

#contenido p{
    width: 659px;
    height: 111px;

    font-family: "Josefin Sans", serif;
    font-size: 25px;
    line-height: 37px;

    color: #E1E1E1;

    margin-top: 24px;
    margin-left: 60px;
}

#contenido button{
    transition: 1s all ease;
    width: 218px;
    height: 61px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Josefin Sans", serif;
    color: #0A0304;
    font-size: 20px; 
    background-color: #ED8A50;

    border: 0px;
    border-radius: 34px;

    margin-left: 60px;
    margin-top: 50px;
}

#contenido button:hover{
    font-size: 22px;
    width: 220px;
    height: 65px;
}

#flecha{
    width: 130px;
    height: 130px;
    margin-left: 26px;
}

#cascos{
    width: 746px;
    height: 313px;
    margin-top: 38px;
    margin-left: 64px;

    display: flex;
    gap: 15px;
}

#amarillo,#blanco{
    width: 226px;
    height: 269px;
    margin-top: 86px;   

    z-index: 1;
}

#amarillo > div ,#blanco > div{
    width: 226px;
    height: 226px;

    background-image: url(img/BG.png);
    background-size: 226px;
    background-repeat: no-repeat;
}

#amarillo > div > img , #blanco > div > img{
    width: 215.33px;
    height: 197.48px;
    margin-top: -43px;
}

#amarillo > div > p ,#blanco > div > p {
    width: 184.09px;
    height: 33.47px;

    color: #FFFFFF;
    
    font-size: 20px;
    font-weight: bold;
    font-family: "Josefin Sans", serif;    
    text-align: center;

    margin-left: 21.2px;
    margin-top: 13.39px;
}

#naranja{
    width: 262px;
    height: 313px;
}

#naranja > div{
    width: 262px;
    height: 262px;

    margin-top: 51px;
    margin-left: 15px;
    margin-right: 17px;

    background-image: url(img/BG.png);
    background-size: 262px;
    background-repeat: no-repeat;
}

#naranja > div > img{
    width: 250px;
    height: 229px;

    margin-top: -51px;
}

#naranja > div > p{
    width: 194px;
    height: 39px;

    margin-left: 33.38px;
    margin-top: 15px;

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: "Josefin Sans", serif;
}

#blanco{
    margin-left: 17px;
}

#persona{
    min-width: 822px;
    height: 858px;

    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: end;

    overflow: hidden;
    margin-top: 63px;
    margin-bottom: 0px;
    margin-left: 27px;
    
}
#persona > img{
    border-radius: 20px;
}

footer{
    display: flex;
    justify-content: end;
    align-content: end;

    color: #FFFFFF;
    font-family: "Josefin Sans", serif;
}